
/* Base Styling */
@font-face {
    font-family: 'font1';
    src: url(./fonts/Nova_Square/NovaSquare-Regular.ttf);
}
:root {
    --primary-color: #1e3a1e;
    --secondary-color: #2c5e2c;
    --main-color: #ffffff;
    --text-color: #ffffff;
    --shadow-color: rgba(255, 255, 255, 0.3);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    color: var(--text-color);
    font-family: 'font1', sans-serif;
}

.title{
    font-family: 'font1';
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 1px 1px 20px white;
}
.banner{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(37, 36, 36, 0.6), rgba(37, 37, 37, 0.6)), url('./images/xbox-logo-green.jpg');
    background-attachment: fixed;
background-size: cover;
background-position: center;
}
.container{
    width: 100%;
    height: 100vh;
    /* background: #c5c5c5; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.container-y{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.container-x{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.container-wrap{
    display: flex;
    flex-wrap: wrap;
}
.container-wrap-reverse{
    display: flex;
    flex-wrap: wrap-reverse;
}

/*? navbar section */
.nav-section{
    /* padding: 20px; */
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed ;
    top: 0px;
    background: linear-gradient(rgba(37, 36, 36, 0.6), rgba(37, 37, 37, 0.6)), url('./images/xbox-logo-green.jpg');
    background-attachment: fixed;
background-size: cover;
background-position: center;
}
.nav-logo img{
    width: 70px;
}



/* ?    dropdown start */
.dropdown{
    
}
.nav-dropdown{
    background: transparent;
    font-family: 'font1';
    font-size: 25px;
    color:  white;
}
.dropdown-list{
    color:  white;
    background: var(--secondary-color);

}
.links{
    /* background: #f8c2c2; */
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    width: 100%;
    /* background: #000; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
li{
    list-style: none;
}
ul li a{
    font-size: 27px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'font1';
    font-weight: 600;
    text-shadow: 1px 1px 20px white;
    color: var(--text-color);
}
ul li a:hover{
    background: var(--text-color);
    color:  black;
}
.squad-menu{
    /* display: none; */
}
.squad-menu{
    background: rgb(18, 35, 18);
    display: none;
    width: 250px;
    height: 300px;
    position: absolute;
    /* display: flex; */
    flex-direction: column;
}
.squad-menu a{
    font-size: 23px;

}
#squad:hover + .squad-menu:hover , .squad-menu a:hover{
    display: block;
}
.home-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.home-section img{
    margin-top: 100px;
    width: 1200px;
    height: 650px;
}

/* ?  ------TEAM section */
.card-section{
    display: flex;
    width: 100% ;
    /* background: #000; */
    justify-content: space-evenly;
}
.teams-card{
    width: 200px;
    height: 200px;
    border: 0px solid black;
    border-radius: 20px;
    background: rgb(43, 89, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid white;
    outline: 6px solid var(--primary-color);
}
.teams-card img{
    width: 180px;
}


/* ?-----PSL WINNERS SECTION */
.psl-winners-section h1{
    margin-top: 50px;
}
.psl-winner-cards{
    /* background: #000; */
}
.card-psl{
    width: 250px;
    height: 230px;
    margin: 20px;
}
.card-psl img{
    width:150px;
}
.card-psl h2,p{
    font-family: 'font1';
}



/* !   banner 2 */
.banner2{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(37, 36, 36, 0.6), rgba(37, 37, 37, 0.6)), url('./images/xbox-logo-green.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.dropdown2 option{
    background: var(--secondary-color);
}
.squad-section{
    /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}
.squad-content{
    background: transparent;
    width: 80%;
    height: auto;
    /* background: #b0aeae; */
}
.card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.squad-card{
    width: 200px;
    height: 300px;
    /* background: rgba(87, 85, 85, 0.3); */
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    /* position: absolute; */
}
.squad-card img{
    width: 170px;
}
.squad-card h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--primary-color);
}


.psh{
    border: 4px solid #fedc52;
    outline: 5px solid white;
}
.psh:hover{
    border: 4px solid #fedc52;
    outline: 5px solid #fedc52;
}
.lhr{
    border: 4px solid #fc6967;
    outline: 5px solid white;
}
.lhr:hover{
    border: 4px solid #fc6967;
    outline: 4px solid #fc6967;
}
.isl{
    border: 4px solid #f93029;
    outline: 5px solid white;
}
.isl:hover{
    border: 4px solid #f93029;
    outline: 4px solid #f93029;
}
.mul{
    border: 4px solid #1b6aaf;
    outline: 5px solid white;
}
.mul:hover{
    border: 4px solid #1b6aaf;
    outline: 4px solid #1b6aaf;
}
.krch{
    border: 4px solid #1c1e2e;
    outline: 5px solid white;
}
.krch:hover{
    border: 4px solid #1c1e2e;
    outline: 5px solid #1c1e2e;
}
.quet{
    border: 4px solid #2a275f;
    outline: 5px solid white;
}
.quet:hover{
    border: 4px solid #2a275f;
    outline: 5px solid #2a275f;
}



/* ?   footer  */
footer{
    width: 100%;
    height: 60px;
    background: var(--primary-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-top: 2px solid white;
}
footer p{

}
footer img{
    width: 40px;
}